<div class="event-card">
  {% if include.post.banner_image %}
  <img class="event-card__banner" src="{{ include.post.banner_image }}" alt="{{ include.post.title }}">
  {% endif %}
  <h3 class="event-card__name"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
  <p class="event-card__date">{{ include.post.date | date: "%B %-d, %Y" }}</p>
  {% if include.post.excerpt %}
  <p class="event-card__description">{{ include.post.excerpt | strip_html | truncatewords: 40 }}</p>
  {% endif %}
</div>
