---
layout: page
title: Blog
permalink: /blog/
---

{% if site.posts.size > 0 %}
  <div class="blog-list">
    {% for post in site.posts %}
      <div class="event-card">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post-meta">
          {{ post.date | date: "%B %-d, %Y" }}
          {% if post.author %} &bull; {{ post.author }}{% endif %}
        </p>
        {% if post.excerpt %}
          <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No posts yet.</p>
{% endif %}
